@page "/items"
@inject NavigationManager NavManager
@inject Transition Transition

<PageTitle>Zelda WWHD Interactive Inventory</PageTitle>

<div class="@(Animating ? "items-page-entry" : "")">
    <div class="items-background">
        <div class="items-main no-select">
            <div class="inventory-limit">
                <img src="/resources/inventory/inventory-main.png" class="inventory-base" />
                <div class="items-grid">
                    @if (OpenBag != null)
                    {
                        <div class="inventory-overlay" @onclick='() => OpenBag = null'></div>
                    }
                    <div class="text-bg no-select" style="grid-column: 5 / 20; grid-row: 9 / 53;">
                        <img src="/resources/inventory/text-background.png" class="bg-image"/>

                        <div class="text-content items-text-content">
                            @if (SelectedItem != null && ItemData.ContainsKey(SelectedItem))
                            {
                                <h1>@ItemData[SelectedItem].Title</h1>
                                <p>@ItemData[SelectedItem].Description</p>
                                <footer>Text from <br/><a href="https://www.zeldadungeon.net" target="_blank">zeldadungeon.net</a></footer>
                            }

                            else
                            {
                                <h1>Select an item to see details.</h1>
                            }
                        </div>
                    </div>


                    <div class="items-button no-select" style="grid-column: 3 / 13; grid-row: 1 / @(IsItemsPage ? 7 : 6);">
                        <img src="/resources/general/items-button-big.png" />
                    </div>

                    <div class="map-button no-select " style="grid-column: 14 / 22; grid-row: 1 / 7;">
                        <img src="/resources/general/map-button.png" />
                    </div>


                    <div class="items-container no-select" style="grid-column: 38 / 58; grid-row: 20 / 57;">
                        <img src="/resources/inventory/hexagon.png" />
                    </div>
                    <div class="items-container no-select" style="grid-column: 29 / 43; grid-row: 20 / 57;">
                        <img src="/resources/inventory/bags.png" />
                    </div>
                    <div class="items-container no-select " style="grid-column: 21 / 35; grid-row: 20 / 57;">
                        <img src="/resources/inventory/others.png" />
                    </div>
                    <div class="items-container no-select " style="grid-column: 27 / 58; grid-row: 6 / 19;">
                        <img src="/resources/inventory/bottles.png" />
                    </div>


                    <div class="items no-select @(SelectedItem == "telescope" ? "selected" : "")" 
                    style="grid-column: 26 / 31; grid-row: 23 / 31;"
                        @onclick='() => SelectItem("telescope")'>
                        <img src="/resources/inventory/items/telescope/telescope.png" />
                    </div>
                    <div class="items no-select @(SelectedItem == "tingleBottle" ? "selected" : "")" 
                    style="grid-column: 23 / 29; grid-row: 34 / 43;"
                        @onclick='() => SelectItem("tingleBottle")'>
                        <img src="/resources/inventory/items/Tingle Bottle/tingleBottle.webp" />
                    </div>
                    <div class="items no-select @(SelectedItem == "pictoBox" ? "selected" : "")" 
                    style="grid-column: 26 / 31; grid-row: 46 / 56;"
                        @onclick='() => SelectItem("pictoBox")'>
                        <img src="/resources/inventory/items/Picto Box/pictoBox.webp" />
                    </div>


                    <div class="items no-select bag @(SelectedItem == "spoilsBag" ? "selected" : "") @(OpenBag == "spoilsBag" ? "bag-open" : "")"
                    style="grid-column: 34 / 39; grid-row: 22 / 32;"
                        @onclick='() => SelectItem("spoilsBag")'>
                        <img src="/resources/inventory/items/Bag Spoils/spoilsBag.png" />
                        <div class="bag-expand-button" @onclick:stopPropagation @onclick='() => ToggleBag("spoilsBag")'>
                            <img src="/resources/general/arrow.png" />
                        </div>

                        @if (OpenBag == "spoilsBag")
                        {
                            <div class="bag-expansion-wrapper" @onclick:stopPropagation>
                                <div class="spoils-bag-hexagon">
                                    <img src="/resources/inventory/spoils-bag-background.png" class="hex-background" />
                                    <div class="sub-grid">
                                        <div class="sub-item-slot items @(SelectedItem == "joyPendant" ? "selected-sub-item" : "")"
                                             style="top: -7%; left:23%;"
                                            @onclick='() => SelectItem("joyPendant")'>
                                            <img src="/resources/inventory/items/Bag Spoils/joyPendant.png" />
                                        </div>

                                        <div class="sub-item-slot items @(SelectedItem == "redChu" ? "selected-sub-item" : "")"
                                             style="top: -7%; left:48%;"
                                             @onclick='() => SelectItem("redChu")'>
                                            <img src="/resources/inventory/items/Bag Spoils/redChu.png"/>
                                        </div>

                                        <div class="sub-item-slot items @(SelectedItem == "skullNecklage" ? "selected-sub-item" : "")"
                                             style="top: -7%; left:74%;"
                                             @onclick='() => SelectItem("skullNecklage")'>
                                            <img src="/resources/inventory/items/Bag Spoils/skullNecklage.png" />
                                        </div>


                                        <div class="sub-item-slot items @(SelectedItem == "knightCrest" ? "selected-sub-item" : "")"
                                             style="top: 35%; left:15%;"
                                             @onclick='() => SelectItem("knightCrest")'>
                                            <img src="/resources/inventory/items/Bag Spoils/knightCrest.png" />
                                        </div>

                                        <div class="sub-item-slot items @(SelectedItem == "bokoBabaSeed" ? "selected-sub-item" : "")"
                                             style="top: 34%; left:43%;"
                                             @onclick='() => SelectItem("bokoBabaSeed")'>
                                            <img src="/resources/inventory/items/Bag Spoils/bokoBabaSeed.png" />
                                        </div>

                                        <div class="sub-item-slot items @(SelectedItem == "greenChu" ? "selected-sub-item" : "")"
                                             style="top: 35%; left:68%;"
                                             @onclick='() => SelectItem("greenChu")'>
                                            <img src="/resources/inventory/items/Bag Spoils/greenChu.png" />
                                        </div>


                                        <div class="sub-item-slot items @(SelectedItem == "goldenFeather" ? "selected-sub-item" : "")"
                                             style="top: 73%; left:22%;"
                                             @onclick='() => SelectItem("goldenFeather")'>
                                            <img src="/resources/inventory/items/Bag Spoils/goldenFeather.png" />
                                        </div>

                                        <div class="sub-item-slot items @(SelectedItem == "blueChu" ? "selected-sub-item" : "")"
                                             style="top: 71%; left:47%;"
                                             @onclick='() => SelectItem("blueChu")'>
                                            <img src="/resources/inventory/items/Bag Spoils/blueChu.png" />
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                        }
                    </div>
                    <div class="items no-select bag @(SelectedItem == "baitBag" ? "selected" : "") @(OpenBag == "baitBag" ? "bag-open" : "")"
                    style="grid-column: 31 / 37; grid-row: 34 / 43;"
                        @onclick='() => SelectItem("baitBag")'>
                        <img src="/resources/inventory/items/Bag Bait/baitBag.png" />
                        <div class="bag-expand-button" @onclick:stopPropagation @onclick='() => ToggleBag("baitBag")'>
                            <img src="/resources/general/arrow.png" />
                        </div>

                        @if (OpenBag == "baitBag")
                        {
                            <div class="bait-bag-hexagon" style="grid-column: 31 / 37; grid-row: 34 / 43;" @onclick:stopPropagation>
                                <img src="/resources/inventory/bait-bag-background.png" class="hex-background" />
                                <div class="sub-grid">
                                    <div class="sub-item-slot items @(SelectedItem == "joyPendant" ? "selected-sub-item" : "")"
                                         style="top: -7%; left:30%;"
                                         @onclick='() => SelectItem("hyoiPear")'>
                                        <img src="/resources/inventory/items/Bag Bait/hyoiPear.png"/>
                                    </div>

                                    <div class="sub-item-slot items @(SelectedItem == "bait" ? "selected-sub-item" : "")"
                                         style="top: -7%; left:55%;"
                                         @onclick='() => SelectItem("bait")'>
                                        <img src="/resources/inventory/items/Bag Bait/bait.png" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="items no-select bag @(SelectedItem == "deliveryBag" ? "selected" : "") @(OpenBag == "deliveryBag" ? "bag-open" : "")"
                    style="grid-column: 34 / 39; grid-row: 46 / 56;"
                        @onclick='() => SelectItem("deliveryBag")'>
                        <img src="/resources/inventory/items/Bag Delivery/deliveryBag.png" />
                        <div class="bag-expand-button" @onclick:stopPropagation @onclick='() => ToggleBag("deliveryBag")'>
                            <img src="/resources/general/arrow.png" />
                        </div>

                        @if (OpenBag == "deliveryBag")
                        {
                            <div class="delivery-bag-hexagon" style="grid-column: 31 / 37; grid-row: 34 / 43;" @onclick:stopPropagation>
                                <img src="/resources/inventory/devilery-bag-background.png" class="hex-background" />
                                <div class="sub-grid">
                                    <div class="sub-item-slot items @(SelectedItem == "complimentaryID" ? "selected-sub-item" : "")"
                                         style="top: -7%; left:23%;"
                                         @onclick='() => SelectItem("complimentaryID")'>
                                        <img src="/resources/inventory/items/Bag Delivery/complimentaryID.png" />
                                    </div>

                                    <div class="sub-item-slot items @(SelectedItem == "fillUpCoupon" ? "selected-sub-item" : "")"
                                         style="top: -7%; left:48%;"
                                         @onclick='() => SelectItem("fillUpCoupon")'>
                                        <img src="/resources/inventory/items/Bag Delivery/fillUpCoupon.png" />
                                    </div>

                                    <div class="sub-item-slot items @(SelectedItem == "noteMom" ? "selected-sub-item" : "")"
                                         style="top: -7%; left:74%;"
                                         @onclick='() => SelectItem("noteMom")'>
                                        <img src="/resources/inventory/items/Bag Delivery/noteMom.png" />
                                    </div>


                                    <div class="sub-item-slot items @(SelectedItem == "fatherLetter" ? "selected-sub-item" : "")"
                                         style="top: 35%; left:15%;"
                                         @onclick='() => SelectItem("fatherLetter")'>
                                        <img src="/resources/inventory/items/Bag Delivery/fatherLetter.png" />
                                    </div>

                                    <div class="sub-item-slot items @(SelectedItem == "magieLetter" ? "selected-sub-item" : "")"
                                         style="top: 34%; left:43%;"
                                         @onclick='() => SelectItem("magieLetter")'>
                                        <img src="/resources/inventory/items/Bag Delivery/magieLetter.png" />
                                    </div>

                                    <div class="sub-item-slot items @(SelectedItem == "moblinLetter" ? "selected-sub-item" : "")"
                                         style="top: 35%; left:68%;"
                                         @onclick='() => SelectItem("moblinLetter")'>
                                        <img src="/resources/inventory/items/Bag Delivery/moblinLetter.png" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>


                    <div class="items no-select @(SelectedItem == "grapplingHook" ? "selected" : "")" 
                    style="grid-column: 41 / 45; grid-row: 22 / 32;"
                        @onclick='() => SelectItem("grapplingHook")'>
                        <img src="/resources/inventory/items/Grappling Hook/grapplingHook.png" />
                    </div>
                    <div class="items no-select @(SelectedItem == "dekuLeaf" ? "selected" : "")" 
                    style="grid-column: 46 / 50; grid-row: 22 / 32;"
                         @onclick='() => SelectItem("dekuLeaf")'>
                        <img src="/resources/inventory/items/Deku Leaf/dekuLeaf.png" />
                    </div>
                    <div class="items no-select @(SelectedItem == "bomb" ? "selected" : "")" 
                    style="grid-column: 51 / 55; grid-row: 22 / 32;"
                         @onclick='() => SelectItem("bomb")'>
                        <img src="/resources/inventory/items/Bomb Bags/bomb.webp" />
                    </div>


                    <div class="items no-select @(SelectedItem == "boomerang" ? "selected" : "")" 
                    style="grid-column: 38 / 44; grid-row: 34 / 44;"
                         @onclick='() => SelectItem("boomerang")'>
                        <img src="/resources/inventory/items/Boomerang/boomerang.png" />
                    </div>
                    <div class="items no-select @(SelectedItem == "bow" ? "selected" : "")" 
                    style="grid-column: 44 / 49; grid-row: 34 / 44;"
                         @onclick='() => SelectItem("bow")'>
                        <img src="/resources/inventory/items/Bow/bow.png" />
                    </div>
                    <div class="items no-select @(SelectedItem == "hookshot" ? "selected" : "")" 
                    style="grid-column: 49 / 55; grid-row: 34 / 44;"
                         @onclick='() => SelectItem("hookshot")'>
                        <img src="/resources/inventory/items/Hookshot/hookshot.png" />
                    </div>


                    <div class="items no-select @(SelectedItem == "skullHammer" ? "selected" : "")" 
                    style="grid-column: 41 / 46; grid-row: 46 / 56;"
                         @onclick='() => SelectItem("skullHammer")'>
                        <img src="/resources/inventory/items/Skull Hammer/skullHammer.png" />
                    </div>
                    <div class="items no-select @(SelectedItem == "ironBoots" ? "selected" : "")" 
                    style="grid-column: 46 / 51; grid-row: 46 / 56;"
                         @onclick='() => SelectItem("ironBoots")'>
                        <img src="/resources/inventory/items/Iron Boots/ironBoots.png" />
                    </div>
                    <div class="items no-select @(SelectedItem == "magicArmor" ? "selected" : "")" 
                    style="grid-column: 51 / 56; grid-row: 46 / 56;"
                         @onclick='() => SelectItem("magicArmor")'>
                        <img src="/resources/inventory/items/Magic Armor/magicAmor.png" />
                    </div>


                    @{var b1 = GetCurrentItemId("bottle1");}
                    <div class="items no-select @(SelectedItem == b1 ? "selected" : "")"
                        style="grid-column: 30 / 35; grid-row: 8 / 17;"
                         @onclick='() => SelectItem(b1)'>
                        <img src="@($"/resources/inventory/items/Bottle/{b1}.png")"/>
                    </div>
                    @{var b2 = GetCurrentItemId("bottle2");}
                    <div class="items no-select @(SelectedItem == b2 ? "selected" : "")" 
                    style="grid-column: 37 / 42; grid-row: 8 / 17;"
                         @onclick='() => SelectItem(b2)'>
                        <img src="@($"/resources/inventory/items/Bottle/{b2}.png")" />
                        <div class="swap-button right: -7%; " @onclick:stopPropagation @onclick='() => NextItem("bottle2")'>
                            <img src="/resources/general/arrow.png" />
                        </div>
                    </div>
                    @{var b3 = GetCurrentItemId("bottle3");}
                    <div class="items no-select @(SelectedItem == b3 ? "selected" : "")"
                         style="grid-column: 43 / 49; grid-row: 8 / 17;"
                         @onclick='() => SelectItem(b3)'>
                        <img src="@($"/resources/inventory/items/Bottle/{b3}.png")" />
                        <div class="swap-button" @onclick:stopPropagation @onclick='() => NextItem("bottle3")'>
                            <img src="/resources/general/arrow.png" />
                        </div>
                    </div>
                    @{var b4 = GetCurrentItemId("bottle4");}
                    <div class="items no-select @(SelectedItem == b4 ? "selected" : "")"
                         style="grid-column: 50 / 56; grid-row: 8 / 17;"
                         @onclick='() => SelectItem(b4)'>
                        <img src="@($"/resources/inventory/items/Bottle/{b4}.png")" />
                        <div class="swap-button" @onclick:stopPropagation @onclick='() => NextItem("bottle4")'>
                            <img src="/resources/general/arrow.png" />
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="right-arrow no-select @(Animating ? "arrow-page-entry" : "")" @onclick="KeyItemsTransition"></div>

@code {

    private Dictionary<string, int> SlotIndices = new()
    {
        { "bottle1", 0 },
        { "bottle2", 0 },
        { "bottle3", 0 },
        { "bottle4", 0 }
    };

    private Dictionary<string, List<string>> SlotVariants = new();

    protected override void OnInitialized()
    {
        SlotVariants["bottle1"] = new List<string>
        {
            "bottleEmpty",
        };
        SlotVariants["bottle2"] = new List<string>
        {
            "bottleWater",
            "bottleForestWater",
            "forestFirefly"
        };
        SlotVariants["bottle3"] = new List<string>
        {
            "fairy",
            "soup"
        };
        SlotVariants["bottle4"] = new List<string>
        {
            "potionRed",
            "potionBlue",
            "potionGreen"
        };
    }

    private void NextItem(string slotName)
    {
        if (SlotVariants.ContainsKey(slotName))
        {
            var variants = SlotVariants[slotName];
            var currentIndex = SlotIndices[slotName];
            var nextIndex = (currentIndex + 1) % variants.Count;
            SlotIndices[slotName] = nextIndex;
            SelectItem(variants[nextIndex]);
        }
    }

    private string GetCurrentItemId(string slotName)
    {
        if (!SlotIndices.ContainsKey(slotName) || !SlotVariants.ContainsKey(slotName)) return "";
        var index = SlotIndices[slotName];
        return SlotVariants[slotName][index];
    }

    private string? OpenBag;

    private void ToggleBag(string bagName)
    {
        if (OpenBag == bagName)
        {
            OpenBag = null;
        }
        else
        {
            OpenBag = bagName;
        }
    }

    private bool Animating = false;

    protected override async Task OnParametersSetAsync()
    {
        if (Transition.Animate)
        {
            Animating = true;
            Transition.Animate = false;

            await Task.Delay(0);

            Animating = false;
            StateHasChanged();
        }
    }

    private string transition = "";

    private async Task KeyItemsTransition()
    {
        NavManager.NavigateTo("/key-items");
    }

    private string? SelectedItem;

    private void SelectItem(string itemName)
    {
        SelectedItem = itemName;
    }

    private bool IsItemsPage => NavManager.Uri.ToLower().Contains("items");
    private int ButtonSize = 6;

    private void ChangeButtonSize(int size)
    {
        ButtonSize = size;
    }

    private class ItemInfo
    {
        public string Title = "";
        public string Description = "";
    }

    private Dictionary<string, ItemInfo> ItemData = new() {
        { "telescope", new ItemInfo { Title = "Telescope", Description = @"The seagull-marked telescope is the most prized possession of Link's sister, Aryll. She loans it to Link as a birthday gift. Link immediately uses the Telescope to see the postman, Quill, acting strange while delivering mail. This leads to the Helmaroc King appearing at Outset Island. After a series of events, Aryll is then kidnapped and Link holds on to it for the remainder of the game. 

Identifying Quill with the Telescope at the start of the game is the only required usage of the item. However, Link is able to use it throughout to see various things in the distance. It is useful on the Great Sea to identify things that are too far in the distance, such as seagulls. These usually indicate the presence of a Big Octo." } },
        { "tingleBottle", new ItemInfo { Title = "Tingle Bottle", Description = @"Link receives the first Tingle Bottle from Tingle, after rescuing him from the Town Jail on Windfall Island.

The Tingle Bottle was used to send messages to people via Miiverse. Link can write a message, and then throw the bottle out to sea, at which point it is sent to players around the world. This also worked the other way, as Link could receive messages from other players. Tingle Bottles from other players could be found floating in the ocean or on beaches. Pictographs could be attached to the bottles sent out and received as well, and any that came from other players could be saved to Link's Pictograph Box." } },
        { "pictoBox", new ItemInfo { Title = "Picto Box", Description = "Link can find this device in Tingle's jail cell, located on Windfall Island. It can be obtained by entering his cell, moving a large box, and solving a maze. Link must successfully make it through the maze without falling into any traps whatsoever. The Picto Box is preserved in a treasure chest at the end of the maze. With the standard Picto Box, pictographs appear in black and white once taken. Allow Link to store up to 12 photos" } },

        { "spoilsBag", new ItemInfo { Title = "Spoils Bag", Description = @"The Spoils Bag is acquired by completing the first level of Niko's game aboard the Pirate Ship. It allows Link to hold all the various spoils he finds when he defeats enemies. It can hold eight different kinds of spoils.
        
There are eight types of Treasure that Link can acquire and keep within his Spoils Bag.

• Blue Chu Jelly
• Boko Baba Seed
• Golden Feather
• Green Chu Jelly
• Knight's Crest
• Joy Pendant
• Red Chu Jelly
• Skull Necklace" } },

        { "baitBag", new ItemInfo { Title = "Bait Bag", Description = @"The Bait Bag can be bought from Beedle at his shop for 20 Rupees. The bag has a photo of a pig's nose on it. It can hold up to eight slots of bait, which can consist of All-Purpose Bait or Hyoi Pears. Without it, Beedle will not let Link buy bait.

Beedel's Shop Ship can be found at various locations through the Great Sea, with it first being encountered at the start of the game, on Outset Island. It appears at many of the early locations, including Windfall Island, Dragon Roost Island, and the Forest Haven, to encourage players to purcahse the Bait Bag early on." } },

        { "deliveryBag", new ItemInfo { Title = "Delivery Bag", Description = "The Delivery Bag is given to Link by Quill on Dragon Roost Island after he gets into a conversation with him and the Rito Chieftain. It can hold eight items and letters, is used more commonly to carry the Decorations during the Island Trading Sequence. After the Rito Chieftain leaves, Quill will give Link the Delivery Bag and ask him to seek out Medli. It is first used after speaking with Medli, who will give Link Father's Letter, which is a letter that the Rito Chieftain wrote and Medli asks Link to deliver it to Prince Komali" } },

        { "grapplingHook", new ItemInfo { Title = "Grappling Hook", Description = @"The Grappling Hook is given to Link by Medli in Dragon Roost Cavern after Link rescues her from some Bokoblins and Moblins. The Grappling Hook is a multipurpose item. Link can throw the Grappling Hook around it and swing on to a platform. It can also be used to steal loot from enemies before they are defeated. If Link is on his boat, he can use it as part of a crane to recover treasure in the ocean." } },
        { "dekuLeaf", new ItemInfo { Title = "Deku Leaf", Description = @"The Deku Leaf's primary use is that of flotation, allowing Link to fly from platform to platform with ease. Link receives this item from the Great Deku Tree, as Link requires this item if he were to try to save Makar from the Forbidden Woods. Once Link uses it, he can jump off the platform he's standing on, and Link will float to another spot. The Magic Meter comes with it. When this runs out, one will no longer be able to use the Deku Leaf, and will simply be left with a broken leaf. One can cut down some grass to get some more magic.

The Deku Leaf has one more use. Link can use it to create a gust of air when standing still. He can use this gust to move certain objects, allowing Link to access new places" } },
        { "bomb", new ItemInfo { Title = "Bombs", Description = @"Link obtains Bombs by completing Niko's second Rope swinging challenges in Tetra's Ship at Windfall Island. Initially, Bombs are far too expensive for Link to afford, with 10 Bombs costing 10,000 Rupees at the Bomb Shop on the southern part of Windfall Island. However, after Tetra and her crew come and steal his Bombs, he lowers the prices.

At first, Link can carry 30 Bombs, but he can upgrade his Bomb carrying capacity to 60 and then 99 by visiting the Great Fairies at Eastern Fairy Island and Southern Fairy Island." } },

        { "boomerang", new ItemInfo { Title = "Boomerang", Description = @"Boomerang works by returning to Link after he has thrown them every time, making them very versatile. They can be used in many different ways, such as picking up items, or stun and even defeat enemies, or to hit distant switches, and much more.

The Boomerang in The Wind Waker is the first one to be able to lock on to multiple targets at once; five to be exact. Link finds it in the Forbidden Woods, after defeating the mini-boss Mothula.." } },
        { "bow", new ItemInfo { Title = "Hero's Bow", Description = @"The Hero's Bow is the dungeon item of the Tower of the Gods. It can be used to snipe faraway switches, and some enemies, such as Beamos and Gohdan, can only be defeated using it. The Hero's Bow is also required for a shooting minigame with the Fishman, provided Link had first filled in a portion of the Sea Chart.
        
Link acquires Fire & Ice Arrows by playing the Ballad of Gales and warping to Mother & Child Isles after rescuing Aryll from Forsaken Fortress. The Fire & Ice Arrows are required to enter Fire Mountain and Ice Ring Isle to retrieve the Power Bracelets and Iron Boots, respectively.

The Light Arrows are awarded to Link after he completes the Maze in Ganon's Tower. After exiting the Maze, Link will battle with Phantom Ganon one last time and must shoot him with a Light Arrow to defeat him for good. The Light Arrows are also the only item that can harm Puppet Ganon, and Zelda will use them to stun Ganondorf in the final battle, allowing Link to get a few hits in and eventually the final blow." } },
        { "hookshot", new ItemInfo { Title = "Hookshot", Description = "The Hookshot is the dungeon item for the Wind Temple. Link acquires the Hookshot after defeating the Red Wizzrobe. The Hookshot can be used to latch onto certain objects, including wooden beams, trees and targets. When Link is wearing the Iron Boots, he can use the Hookshot to pull down statues that have a target on them for the Hookshot to latch onto. It is also required to defeat the boss of the Wind Temple, Molgera." } },

        { "skullHammer", new ItemInfo { Title = "Skull Hammer", Description = @"The Skull Hammer is a large hammer acquired after defeating Phantom Ganon in the Forsaken Fortress. The primary use is to pound pegs located throughout the Great Sea or to activate switches that Link's weight will not normally activate. 
        
        During the second time in the Forsaken Fortress, once Link has acquired the Master Sword, it is a necessary item needed to defeat the Helmaroc King at the top of the Forsaken Fortress. The Skull Hammer is required to access the Fairy Fountains on Thorned Fairy Island and Western Fairy Island." } },
        { "ironBoots", new ItemInfo { Title = "Iron Boots", Description = @"The Iron Boots are found in a cave on Ice Ring Isle and are not accessible until Link receives the Fire Arrows and Ice Arrows from the Queen of Fairies on Mother and Child Isles after learning the Ballad of Gales and warping to them. 
        
        The Iron Boots allow Link to not be affected by wind when equipped, therefore making them essential for the Wind Temple. They also allow Link to activate springboards first by wearing the boots and then taking them off. Larger statues may also be pulled over when the Iron Boots are paired with the Hookshot." } },
        { "magicArmor", new ItemInfo { Title = "Magic Armor", Description = "The Magic Armor is an item given to you by Zunari as a reward after completing the Island Trading Sequence. This item creates a magical barrier around Link that protects him from damage. While active, the armor drains Link's magic meter. Once Link's magic is depleted, the Magic Armor stops working. The Magic Armor can also be used while sailing to protect from attacks during battles at sea." } },

        { "bottleEmpty", new ItemInfo { Title = "Empty Bottle", Description = @"Empty bottles are used to store all sorts of things. Link can use bottles for storing Water, Fairies, Potions, or even some of Grandma's delicious Elixir Soup. There are a total of four bottles that can be found in The Wind Waker.
        
Bottle #1
Location: Dragon Roost Island

After Link reaches Dragon Roost Island (F2) for the first time, head into the main living area as the storyline intends. Speak with the Rito inside and they will tell Link to meet a girl named Medli. Speak to her in the first upper room, and she will ask Link for help. Head back down the ramp and enter outside into a large circular area that is covered in dust particles. Continue to the left and down into the pit to find Medli once again. Speak with her, and she will ask Link to help her get onto the ledge on the far side of the area. Link can then pick her up and walk onto a higher rock nearby. When the wind faces the far side, Link can throw her with A and she will land there. Medli will talk to Link once more, and will give him the first Bottle in the process. This is the only bottle that must be obtained in the game.

Bottle #2
Location: Bomb Island

To obtain second Bottle, begin by heading over to Bomb Island (F5). Link will need to find Old Man Ho Ho, and look where he is looking with his telescope. Upon doing this, Link will see a Submarine in the distance. Link can then sail to the submarine and defeat the enemies inside to receive the second Bottle.

Bottle #3
Location: Rock Spire Isle

After obtaining the ability to sail anywhere on the Great Sea, head over to Rock Spire Isle (B3). Beedle operates a special type of ship that sails around this isle known as the Rock Spire Shop Ship. It sells special items that aren't available elsewhere, including the third Bottle. The Bottle costs 500 rupees to purchase.

Bottle #4
Location: Windfall Island

After defeating the Helmaroc King at the Forsaken Fortress, head to Windfall Island (D2) at night. There is a poor girl named Mila and she will tell Link to go away. Head to the stairs nearby and she'll run away. Follow her, but don't get too close or she will see Link when she turns around. When she gets to Zunari's safe, talk to her. Select the first option for every question asked, and she will give Link the fourth and final Bottle." } },
        { "bottleWater", new ItemInfo { Title = "Bottled Water", Description = "Bottled Water can be used to make some withered plants grow. It is particularly useful when trying to access Dragon Roost Cavern. All that Link needs to do to collect some is to swipe an empty bottle near a water source." } },
        { "fairy", new ItemInfo { Title = "Fairy", Description = "Fairies can be captured in bottles to save Link when he dies in The Wind Waker. There are five Fairy Islands around the Great Sea, where both Fairies and Great Fairies reside. The Queen of Fairies also makes an appearance at Mother and Child Isles, where she gives Link the Fire and Ice arrows." } },
        { "potionRed", new ItemInfo { Title = "Red Potion", Description = "Red Potions can be held in bottles until ready to use. When used, they restore all of Link's hearts. Red Potions can be purchased from Doc Bandam at the Chu Jelly Juice Shop on Windfall Island for 20 Rupees. If Link brings 5 Red Chu Jellies to Doc Bandam, he will fill Link's bottle with Red Potion for free." } },

        { "bottleForestWater", new ItemInfo { Title = "Bottled Forest Water", Description = "Forest Water is special water that only flows within Forest Haven. It can be used to help the Withered Trees grow. Once collected, it is only good for 20 minutes before it becomes normal water. In The Wind Waker HD, that time limit is increased to 30 minutes." } },
        { "forestFirefly", new ItemInfo { Title = "Forest Firefly", Description = "Forest Fireflies are only found inside Forest Haven. If Link brings one back to Lenzo, he will place it in Link's Picto Box, creating the Deluxe Picto Box. In The Wind Waker HD, the Forest Firefly is no longer required to get the Deluxe Picto Box. However, if Link brings a Forest Firefly to Lenzo, he will award Link with a Joy Pendant for his hard work." } },
        { "potionBlue", new ItemInfo { Title = "Blue Potion", Description = "Blue Potions can be held in bottles until ready to use. When used, they restore all of Link's health and magic. Blue Potions must be unlocked before they can be purchased by bringing 15 Blue Chu Jellies to Doc Bandam at the Chu Jelly Juice Shop on Windfall Island. Once unlocked, Link can purchase Blue Potions for 60 Rupees. If Link brings 5 additional Blue Chu Jellies to Doc Bandam, he will fill Link's bottle with Blue Potion for free. Alternatively, Link can also collect Boko Baba Seeds from killing Boko Babas and then giving 4 of them to Hollo who will mix a Blue Potion for Link." } },
        { "potionGreen", new ItemInfo { Title = "Green Potion", Description = "Green Potions can be held in bottles until ready to use. When used, they restore Link's entire Magic Meter. Green Potions must be unlocked before they can be purchased by bringing 15 Green Chu Jellies to Doc Bandam at the Chu Jelly Juice Shop on Windfall Island. Once unlocked, Link can purchase Green Potions for 10 Rupees. If Link brings 5 additional Green Chu Jellies to Doc Bandam, he will fill Link's bottle with Green Potion for free." } },
        { "soup", new ItemInfo { Title = "Elixir Soup", Description = "Grandma fills one of Link's empty bottles up with Elixir Soup after he heals her with a Fairy. In fact, she fills the bottle so full that there are two helpings worth. Elixir Soup will replenish all of Link's hearts, as well as all of his magic, and even temporarily doubles his attack strength. Link can return to get unlimited free refills of Elixir Soup as long as he has an empty bottle. However, he can only have one bottle of Elixir Soup at a time." } },

        //spoils items

        { "joyPendant", new ItemInfo { Title = "Joy Pendant", Description = "Joy Pendants are a common spoil that may drop from any Bokoblin after it is defeated. If Link gives 20 of these to Mrs. Marie on Windfall Island, she will give him the Cabana Deed. If Link gives her an additional 40 Joy Pendants, she will give Link the Hero's Charm. In The Wind Waker HD, if Link gives her an additional 40 Joy Pendants, she will give Link Treasure Chart #45." } },
        { "redChu", new ItemInfo { Title = "Red Chu Jelly", Description = "Red Chu Jelly can be collected from a Red ChuChu after it is defeated. If Link gives 5 Red Chu Jellies to Doc Bandam on Windfall Island, he will give Link a free Red Potion." } },
        { "skullNecklage", new ItemInfo { Title = "Skull Necklage", Description = "Skull Necklaces usually drop from Moblins after they are defeated and can occasionally be found in Treasure Chests. Giving 3 of these to Dampa on Windfall Island will allow Link to play a mini-game which can earn him 50 Rupees. If Link gives 20 of these to Maggie's Father on Windfall Island, he will give Link Treasure Chart #2." } },

        { "knightCrest", new ItemInfo { Title = "Knight's Crest", Description = "Knight's Crests usually drop from Darknuts after they are defeated and can occasionally be found in Treasure Chests. If Link collects 10 of these and shows them to Orca on Outset Island, Orca will teach him the Hurricane Spin." } },
        { "bokoBabaSeed", new ItemInfo { Title = "Boko Baba Seed", Description = "Boko Baba Seeds are spoils that may drop from a Boko Baba after it is defeated. If Link gives four of these to Hollo in Forest Haven, he will prepare a Blue Potion for Link." } },
        { "greenChu", new ItemInfo { Title = "Green Chu Jelly", Description = "Green Chu Jelly can be collected from a Green ChuChu after it is defeated. If Link gives 15 Green Chu Jellies to Doc Bandam on Windfall Island, it will unlock the Green Potion and Doc Bandam will give Link a free sample. If Link gives an additional 5 Green Chu Jellies to Doc Bandam, he will give Link another free Green Potion." } },

        { "goldenFeather", new ItemInfo { Title = "Golden Feather", Description = "Golden Feathers may drop from a Peahat, Kargarok or a Winged Mothula after they are defeated. If Link gives 20 of these to Hoskit on Dragon Roost Island, Hoskit will thank Link and give them to his girlfriend. Soon after, Link will receive a letter from Hoskit's girlfriend thanking him for the Golden Feathers. The letter will include a Piece of Heart." } },
        { "blueChu", new ItemInfo { Title = "Blue Chu Jelly", Description = "Blue Chu Jelly can be collected from a Blue ChuChu after it is defeated. If Link gives 15 Blue Chu Jellies to Doc Bandam on Windfall Island, it will unlock the Blue Potion and Doc Bandam will give Link a free sample. If Link gives an additional 5 Blue Chu Jellies to Doc Bandam, he will give Link another free Blue Potion. Blue Chu Jellies are quite rare, as there are only 23 Blue ChuChus in the entire game." } },

        //bait items

        { "hyoiPear", new ItemInfo { Title = "Hyoi Pear", Description = "Hyoi Pears can be purchased from Beedle after Link receives the Spoils Bag from Niko on the way to Forsaken Fortress for the first time. If Seagulls are nearby, Link can offer a Hyoi Pear as bait for one, which will then allow him to control one until he chooses to stop or is hit by an enemy. While controlling a Seagull, Link will be able to get Rupees, Pieces of Heart and other items that would otherwise be unreachable." } },
        { "bait", new ItemInfo { Title = "All-Purpose Bait", Description = "All-Purpose Bait can be purchased from Beedle after Link receives the Spoils Bag from Niko on the way to Forsaken Fortress for the first time. As the name implies, it has many uses. Link can use it to feed the Fishman at each island, who will in turn fill in Link's Sea Chart for that sector, or give Link the option to play a mini-game if that sector is already explored. Link can also spread some All-Purpose Bait on the ground in front of a Rat's hole and the rat will sell you Potions or even more bait." } },

        //delivery items

        { "complimentaryID", new ItemInfo { Title = "Complimentary ID", Description = @"The Complimentary ID is mailed to Link from Beedle after Link has purchased 30 items from him. After his 30th purchase, Link will be able to find the Complimentary ID in any Postbox. The Complimentary ID is a one-time use item. When given to Beedle, he will ""compliment"" Link for his continued patronage, which will fully recover all of his Hearts." } },
        { "fillUpCoupon", new ItemInfo { Title = "Fill-Up Coupon", Description = "The Fill-Up Coupon is mailed to Link from Beedle after Link has purchased 60 items from him. After his 60th purchase, Link will be able to find the Fill-Up Coupon in any Postbox. The Fill-Up Coupon is a one-time use item. When given to Beedle, Link will receive a free replenishment for all consumable items, such as Bombs and Arrows, as well as a full recovery of Hearts." } },
        { "noteMom", new ItemInfo { Title = "Note to Mom", Description = "This letter is given to Link by Baito after he notices Link's help at the mail sorting, he then asks Link to sort 25 letters for him. After sorting 25 letters, Baito then gives Link the letter to deliver to his mom. The letter says how Link helped inspire him with his job, after sometime sending it, his mom reply's to Link giving him a Piece of Heart." } },

        { "fatherLetter", new ItemInfo { Title = "Father's Letter", Description = "This letter is given to Link by Medli, it is written by the Rito Chieftain to encourage his son Prince Komali to receive his scale from Valoo. The letter explains to Komali that he has to be brave and Link is here to calm Valoo down. Also this is the only letter that is in the main story line." } },
        { "magieLetter", new ItemInfo { Title = "Magie's Letter", Description = "This letter is given to Link by Maggie in a sidequest in Windfall Island after you rescue Aryll from the Forsaken Fortress. Maggie explains to Link how she fell in love with Moe a Moblin from Forsaken Fortress and she wants Link to deliver the letter to him." } },
        { "moblinLetter", new ItemInfo { Title = "Moblin's Letter", Description = "After sending Maggie's Letter in the Postbox, Link will comeback to find Maggie's father arguing with a Rito named Ilari. Frustrated, Ilari goes to the Cafe Bar where Link can talk to him, he will tell Link to deliver the Moblin's Letter to Maggie. When Link delivers the letter to Maggie, she will then give Link a Piece of Heart." } },
    };
}

